.card {
    position: fixed;
    z-index: 1;
    width: 100vw; /* Largura total da tela */
    height: 100vh; /* Altura total da tela */
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%); /* Começa fora da tela */

    & .close-button {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
    }
  }
  
  .card.show {
    transform: translateX(0); /* Entra na tela */
  }
  
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: red;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  

  .toggle-button {
    background: var(--primary-color) !important;
    border: 2px solid var(--primary-color-dark) !important;
    color: var(--text-secondary) !important;
    border-radius: 30px;
    width: 70px;
    height: 30px;  
  
    & mat-icon {
      font-size: 25px;
    }
  }
  
  .move-right {
    transform: translateX(15px); /* Move o ícone para a direita */
    transition: transform 0.3s ease; /* Movimento suave */
  }
  
  .move-left {
    transform: translateX(-15px); /* Move o ícone para a esquerda */
    transition: transform 0.3s ease; /* Movimento suave */
  }
  
  