<div class="card" [class.show]="isOpen">
    <div class="close-button">
        <app-toggle-button type="primary" label="Dark Theme" iconName="nights_stay" [theme]="getTheme()" (click)="toggleTheme()"></app-toggle-button>
        <app-button type="icon" iconName="close" (click)="closeCard()"></app-button>
    </div>

    <div class="container">
        <h2>Configurações</h2>
        <p>Aqui você pode configurar as preferências do seu usuário.</p>
    </div>

    <div class="logout-button-container">
        <app-button type="primary" label="Sair" iconName="logout"></app-button>
    </div>
</div>