<!-- <div class="container">
  <h1>Aplicação Angular com Tema Dinâmico</h1>

  <div class="component-content">
    <p>Conteúdo do componente</p>
    <app-button type="primary" label="Botão Primário" (onClick)="toggleTheme()"></app-button>
    <app-button type="secondary" label="Botão Secundário" (onClick)="toggleTheme()"></app-button>
    <app-button type="aux" label="Botão Auxiliar" (onClick)="toggleTheme()"></app-button>
  </div>
</div> -->

<router-outlet></router-outlet>

<app-bottom-bar></app-bottom-bar>
