html, body {
    height: 100%;
    margin: 0;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupa toda a tela */
  }
  
  .router-container {
    flex: 1; /* Faz o conteúdo ocupar o espaço disponível */
    overflow: auto; /* Se o conteúdo for maior que a tela, permite rolagem */
  }
  
  app-bottom-bar {
    height: 64px;
    background: var(--background-color);
    flex-shrink: 0; /* Evita que o bottom bar seja redimensionado */
  }
  