.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color, white); /* Usa o tema */
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Garante que fique sobre outros elementos */
  }
  
  .mat-tab-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
  
  .mat-tab-label mat-icon {
    margin-bottom: 2px;
  }
  
